<div id="<%= dom_id register %>">
  <p>
    <strong>Name:</strong>
    <%= register.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= register.phone_number %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= register.amount %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= register.arrival_time %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= register.departure_time %>
  </p>

  <p>
    <strong>Slots:</strong>
    <%= register.slots %>
  </p>

  <p>
    <strong>License plate:</strong>
    <%= register.license_plate %>
  </p>

  <p>
    <strong>Vehicle type:</strong>
    <%= register.vehicle_type %>
  </p>

</div>
