<div id="<%= dom_id status_slot %>">
  <p>
    <strong>Vehicle type:</strong>
    <%= status_slot.vehicle_type %>
  </p>

  <p>
    <strong>License plate:</strong>
    <%= status_slot.license_plate %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= status_slot.status %>
  </p>

  <p>
    <strong>Slots:</strong>
    <%= status_slot.slots %>
  </p>

</div>
