<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Status_slot</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to status_slots_path, class: button_class(theme: "transparent") do %>
      All Status_slots
      <% end %>
      <%= link_to edit_status_slot_path(@status_slot), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Vehicle type:</p>
        <p><%= @status_slot.vehicle_type %></p>
      </li>
      <li>
        <p class="font-semibold">License plate:</p>
        <p><%= @status_slot.license_plate %></p>
      </li>
      <li>
        <p class="font-semibold">Status:</p>
        <p><%= @status_slot.status %></p>
      </li>
      <li>
        <p class="font-semibold">Slots:</p>
        <p><%= @status_slot.slots %></p>
      </li>
  </ul>
</div>
