<%= form_with(model: pay) do |form| %>
<% if pay.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(pay.errors.count, "error") %> prohibited this pay from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% pay.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :car_plate, class: label_class %>
          <%= form.text_field :car_plate, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :check_out_time, class: label_class %>
          <%= form.datetime_field :check_out_time, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :amount, class: label_class %>
          <%= form.text_field :amount, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :pay_option, class: label_class %>
          <%= form.text_field :pay_option, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if pay.persisted? %>
<%= link_to "Cancel", pay, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", pays_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
