<div id="<%= dom_id pay %>">
  <p>
    <strong>Car plate:</strong>
    <%= pay.car_plate %>
  </p>

  <p>
    <strong>Check out time:</strong>
    <%= pay.check_out_time %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= pay.amount %>
  </p>

  <p>
    <strong>Pay option:</strong>
    <%= pay.pay_option %>
  </p>

</div>
