<div id="<%= dom_id main %>">
  <p>
    <strong>Car type:</strong>
    <%= main.car_type %>
  </p>

  <p>
    <strong>Car plate:</strong>
    <%= main.car_plate %>
  </p>

  <p>
    <strong>Check in time:</strong>
    <%= main.check_in_time %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= main.phone_number %>
  </p>

  <p>
    <strong>Parking slots:</strong>
    <%= main.parking_slots %>
  </p>

</div>
