<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Main</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to mains_path, class: button_class(theme: "transparent") do %>
      All Mains
      <% end %>
      <%= link_to edit_main_path(@main), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Car type:</p>
        <p><%= @main.car_type %></p>
      </li>
      <li>
        <p class="font-semibold">Car plate:</p>
        <p><%= @main.car_plate %></p>
      </li>
      <li>
        <p class="font-semibold">Check in time:</p>
        <p><%= @main.check_in_time %></p>
      </li>
      <li>
        <p class="font-semibold">Phone number:</p>
        <p><%= @main.phone_number %></p>
      </li>
      <li>
        <p class="font-semibold">Parking slots:</p>
        <p><%= @main.parking_slots %></p>
      </li>
  </ul>
</div>
