<%= form_with(model: search) do |form| %>
<% if search.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(search.errors.count, "error") %> prohibited this search from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% search.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :search, class: label_class %>
          <%= form.text_field :search, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if search.persisted? %>
<%= link_to "Cancel", search, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", searches_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
